{% extends "cryptkeeper/base.html" %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Transactions</h3>
    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <table id="table_transactions" class="table table-bordered table-hover table-striped dataTable dtr-inline" style="width:100%;">
            <thead>
                <tr>
                    <th>Asset</th>
                    <th>Total</th>
                    <th>Average Purchase Price</th>
                    <th>Current Spot Price</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status" id="loading_spinner">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!-- /.card-body -->
</div>
<!-- /.card -->


<!-- Datatables highlight override for dark theme-->
<style>
    table.dataTable tbody tr.selected {
  background-color: #1A1F24 !important;
}
</style>

<script>
    $(function () {
        $(document).ready(function () {
            //Build Datatable
            /**
            var data_table = $('#table_transactions').DataTable({
                "ajax": {
                  "url" : "/api/asset-info/?format=datatables",
                  "dataSrc": function ( json ) {
                    for ( var i=0, ien=json.data.length ; i<ien ; i++ ) {
                      json.data[i]["test"] = 'test2';
                    }
                    return json.data;
                  }
                },
                scrollX: true,
                pageLength: 10,
                deferRender: true,
                "columns": [
                    { "data": "asset_symbol"},
                    { "data": "total_asset_quantity"},
                    { "data": "average_price_buy"},
                    { "data": "test"},
                ],
            });
            **/
        });
    });
</script>

<!--
  Price lookup
-->
<script>

  function get_price(row)
  {
    var price = 123
    var url = "https://api.cryptonator.com/api/ticker/" + row.asset_symbol + "-usd"
    fetch(url)
    .then(response => {
      return response.json()
    })
    .then(data => {
      //$('#spot_price_' + data.ticker.base).text(data.ticker.price)
      //table.cell( row, 3 ).data( data.ticker.price );
      return data.ticker.price
    });
    return price
  }
 
  function render_data_table(price_data)
  {
    var data_table = $('#table_transactions').DataTable({
        "data" : price_data,
        scrollX: true,
        pageLength: 10,
        deferRender: true,
        "columns": [
            { "data": "asset_symbol"},
            { "data": "total_asset_quantity"},
            { "data": "average_price_buy"},
            { "data": "current_spot_price"},
        ],
        "initComplete": function(settings, json) {
          $("#loading_spinner").hide()
        }
    });
  }

  function test2()
  {
    var asset_info = []

    fetch('/api/asset-info/').then(function (response) {
      if (response.ok) {
        return response.json();
      } else {
        return Promise.reject(response);
      }
    }).then(function (asset_info_data) {
      asset_info = asset_info_data
      var urls = asset_info_data.map(o => "https://api.cryptonator.com/api/ticker/" + o.asset_symbol + "-usd")
      
      
      const requests = urls.map((url) => fetch(url));

      Promise.all(requests)
        .then((responses) => {
          const errors = responses.filter((response) => !response.ok);

          if (errors.length > 0) {
            throw errors.map((response) => Error(response.statusText));
          }

          const json = responses.map((response) => response.json());
          return Promise.all(json);
        })
        .then((price_data) => {
          asset_info.forEach(element => {
            price_data_element = price_data.filter(x => x.ticker.base === element.asset_symbol)[0]
            element["current_spot_price"] = price_data_element.ticker.price
          })
          render_data_table(asset_info)
        })
        .catch((errors) => {
          errors.forEach((error) => console.error(error));
        });

    }).catch(function (error) {
      console.error(error);
    });
  }

  test2()

  //current_prices = get_coingecko_map_symbol_to_name()


</script>


{% endblock %}