{% extends "cryptkeeper/base.html" %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Transactions</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="table_transactions" class="table table-bordered table-hover table-striped dataTable dtr-inline" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Time (UTC)</th>
                    <th>Type</th>
                    <th>Asset</th>
                    <th>Price</th>
                    <th>Fee</th>
                    <th>Quantity</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Notes</th>
                    <th>Total (No Fees)</th>
                    <th>Total (With Fees)</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>

        <button id="add_transaction" type="button" class="btn btn-default" data-toggle="modal"
            data-target="#modal-edit">
            Add Transaction
        </button>
        <button id="delete_all_transactions" type="button" class="btn btn-default btn-danger" data-toggle="modal"
            data-target="#modal_delete_all_transactions">
            Delete All Transactions
        </button>

    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<!-- Delete Modal-->
<div class="modal fade" id="modal-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header btn-danger">
                <h4 class="modal-title">Warning</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this transaction?</p>
                <form id="delete_transaction">
                    <input type="hidden" id="delete_id" value="" name="id">
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-light" id="submit_delete" data-dismiss="modal">Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Edit Modal -->
<div class="modal fade" id="modal-edit" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add/Edit Transaction</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit_transaction">
                    <div class="card-body">
                        <input type="hidden" id="edit_id" value="" name="id">
                        <div class="form-group">
                            <label>Date and time:</label>
                            <div class="input-group date" id="edit_datetime_popup" data-target-input="nearest">
                                <div class="input-group-prepend" data-target="#edit_datetime_popup"
                                    data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                                <input name="datetime" id="edit_datetime" type="text"
                                    class="form-control datetimepicker-input" data-target="#edit_datetime_popup">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="transaction_type">Type</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-shopping-cart"></i>
                                    </span>
                                </div>
                                <select name="transaction_type" id="edit_transaction_type" class="custom-select"
                                    required>
                                    <option selected disabled>Select </option>
                                    <option value="Buy">Buy</option>
                                    <option value="Sell">Sell</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="asset_symbol">COIN</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa-regular fa-coins"></i>
                                    </span>
                                </div>
                                <input name="asset_symbol" type="text" class="form-control" id="edit_asset_symbol"
                                    placeholder="COIN Symbol">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price">Price/Coin</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-dollar-sign"></i>
                                    </span>
                                </div>
                                <input name="usd_price" type="text" class="form-control" id="edit_usd_price"
                                    placeholder="Price per Coin at Purchase (USD)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="usd_transaction_fee">Fee</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-dollar-sign"></i>
                                    </span>
                                </div>
                                <input name="usd_transaction_fee" type="text" class="form-control" id="edit_usd_transaction_fee"
                                    placeholder="Any fees">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-calculator"></i>
                                    </span>
                                </div>
                                <input name="quantity" type="text" class="form-control" id="edit_quantity"
                                    placeholder="Amount of coin purchased">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="from">From</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-wallet"></i>
                                    </span>
                                </div>
                                <input name="transaction_from" type="text" class="form-control"
                                    id="edit_transaction_from" placeholder="From">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="transaction_to">To</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-wallet"></i>
                                    </span>
                                </div>
                                <input name="transaction_to" type="text" class="form-control" id="edit_transaction_to"
                                    placeholder="To">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="notes">Notes</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-wallet"></i>
                                    </span>
                                </div>
                                <input name="notes" type="text" class="form-control" id="edit_notes"
                                    placeholder="Notes about transaction">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="submit_edit" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--/Edit Modal -->


<!-- Delete All Transactions Modal -->
<div class="modal fade" id="modal_delete_all_transactions" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header btn-danger">
                <h4 class="modal-title">Delete ALL Transactions</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit_transaction">
                    <div class="card-body">
                        <p>
                            Are you sure you want to delete ALL transactions?
                        </p>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="submit_delete_all_transactions" type="button" class="btn btn-danger" data-dismiss="modal">Delete All Transactions</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--/Delete Modal -->

<!-- Datatables highlight override for dark theme-->
<style>
    table.dataTable tbody tr.selected {
  background-color: #1A1F24 !important;
}
</style>

<script>
    $(function () {
        $(document).ready(function () {
            //Build Datatable
            var data_table = $('#table_transactions').DataTable({
                dom: 'Bfrtip',
                "serverSide": true,
                "ajax": "/api/transactions/?format=datatables",
                select: {
                    style: 'multi+shift',
                    selector: 'td:not(:last-child)'
                },
                pageLength: 25,
                deferRender: true,
                buttons: [
                    'csv',
                    'excel',
                    'selectAll',
                    'selectNone',
                    {
                        extend: 'selected',
                        text: 'Delete Selected',
                        action: function ( e, dt, node, config ) {
                            var rows = dt.rows( { selected: true } );
            
                            alert( 'There are '+rows.count()+'(s) selected in the table' );
                            delete_all_rows(rows.data())
                        }
                    },
                    {
                        "extend": 'csv',
                        "text": 'CSV (All Records)',
                        "titleAttr": 'CSV',                               
                        "action": newexportaction
                    },
                    {
                        "extend": 'excel',
                        "text": 'Excel (All Records)',
                        "titleAttr": 'Excel',                               
                        "action": newexportaction
                    },
                ],
                "columns": [
                    { "data": "id", "visible": false },
                    { "data": "datetime" },
                    { "data": "transaction_type" },
                    { "data": "asset_symbol" },
                    { "data": "usd_price" },
                    { "data": "usd_transaction_fee" },
                    { "data": "quantity" },
                    { "data": "transaction_from" },
                    { "data": "transaction_to" },
                    { "data": "notes" },
                    { "data": "usd_total_no_fees" },
                    { "data": "usd_total_with_fees" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return `
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-info edit_item">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-danger delete_item">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                            `
                        }
                    }
                ]
            });

            //Edit - Populate modal form on datatable row click
            $('#table_transactions').on('click', '.edit_item', function () {
                var data = data_table.row($(this).parents('tr')).data();
                $('#edit_id').val(data.id);
                $('#edit_datetime').val(data.datetime);
                $('#edit_transaction_type').val(data.transaction_type);
                $('#edit_asset_symbol').val(data.asset_symbol);
                $('#edit_usd_price').val(data.usd_price);
                $('#usd_transaction_fee').val(data.usd_price);
                $('#edit_quantity').val(data.quantity);
                $('#edit_transaction_from').val(data.transaction_from);
                $('#edit_transaction_to').val(data.transaction_to);
                $('#edit_notes').val(data.notes);
                $('#modal-edit').modal("show");
            });

            //Delete - Populate modal form and offer delete
            $('#table_transactions').on('click', '.delete_item', function () {
                var data = data_table.row($(this).parents('tr')).data();
                $('#delete_id').val(data.id);
                $('#modal-delete').modal("show");
            });

            //Load datetimepicker
            $('#edit_datetime_popup').datetimepicker({
                useSeconds: true
            });

            //Submit AJAX Request for Add/Edit
            $('#submit_edit').on('click', function (e) {
                e.preventDefault();
                data = $('#edit_transaction').serialize()
                $.ajax({
                    headers: { 'X-CSRFToken': "{{ csrf_token }}" },
                    data: data,
                    type: $('#edit_id').val() ? "PUT" : "POST",
                    url: "/api/transactions/" + ($('#edit_id').val() ? $('#edit_id').val() + "/" : ""),
                    success: function (response) {
                        data_table.ajax.reload();
                        $(document).Toasts('create', {
                            class: 'bg-green',
                            title: 'Updated successfully',
                            autohide: true,
                            delay: 2000
                        })
                        $("#modal-edit").modal('hide');
                    },
                    error: function (xhr) {
                        $(document).Toasts('create', {
                            class: 'bg-maroon',
                            title: 'Error',
                            body: xhr.responseText
                        })
                    }
                });
                return false;
            });

            //Submit AJAX Request for Delete
            $('#submit_delete').on('click', function (e) {
                e.preventDefault();
                data = $('#delete_transaction').serialize()
                $.ajax({
                    headers: { 'X-CSRFToken': "{{ csrf_token }}" },
                    data: data,
                    type: "DELETE",
                    url: "/api/transactions/" + $('#delete_id').val(),
                    success: function (response) {
                        data_table.ajax.reload();
                        $(document).Toasts('create', {
                            class: 'bg-green',
                            title: 'Success',
                            autohide: true,
                            delay: 2000
                        })
                        $("#modal-delete").modal('hide');
                    },
                    error: function (xhr) {
                        $(document).Toasts('create', {
                            class: 'bg-maroon',
                            title: 'Error',
                            body: xhr.responseText
                        })
                    }
                });
                return false;
            });

            //Clear modal form when adding a new transaction
            $('#add_transaction').on('click', function (e) {
                $("#edit_transaction").trigger("reset");
            });

            //Delete all rows call
            function delete_all_rows(rows, hide_results)
            {
                for (var i = 0; i < rows.length; i++) {
                    $.ajax({
                        headers: { 'X-CSRFToken': "{{ csrf_token }}" },
                        data: null,
                        type: "DELETE",
                        url: "/api/transactions/" + rows[i].id,
                        success: function (response) {
                            if (!hide_results)
                            {
                                $(document).Toasts('create', {
                                    class: 'bg-green',
                                    title: 'Success',
                                    autohide: true,
                                    delay: 2000
                                })
                                $("#table_transactions").DataTable().ajax.reload();
                            }
                        },
                        error: function (xhr) {
                            if (!hide_results)
                            {
                                $(document).Toasts('create', {
                                    class: 'bg-maroon',
                                    title: 'Error',
                                    body: xhr.responseText
                                })
                            }
                        }
                    });
                }
            }

            //Delete all transactions
            $('#submit_delete_all_transactions').on('click', function (e) {
                    delete_all_transactions()
            });

            function delete_all_transactions()
            {
                $.ajax({
                    headers: { 'X-CSRFToken': "{{ csrf_token }}" },
                    data: null,
                    type: "GET",
                    url: "/api/transactions/",
                    success: function (response) {
                        delete_all_rows(response.results, false)
                        if(response.next != "")
                        {
                            delete_all_transactions()
                        }
                    },
                    error: function (xhr) {
                        $(document).Toasts('create', {
                            class: 'bg-maroon',
                            title: 'Error',
                            body: xhr.responseText
                        })
                    }
                });
            }


            /* For Export Buttons available inside jquery-datatable "server side processing" - Start
            - due to "server side processing" jquery datatble doesn't support all data to be exported
            - below function makes the datatable to export all records when "server side processing" is on */

            function newexportaction(e, dt, button, config) {
                var self = this;
                var oldStart = dt.settings()[0]._iDisplayStart;
                dt.one('preXhr', function (e, s, data) {
                    // Just this once, load all data from the server...
                    data.start = 0;
                    data.length = 2147483647;
                    dt.one('preDraw', function (e, settings) {
                        // Call the original action function
                        if (button[0].className.indexOf('buttons-copy') >= 0) {
                            $.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
                        } else if (button[0].className.indexOf('buttons-excel') >= 0) {
                            $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
                                $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
                                $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
                        } else if (button[0].className.indexOf('buttons-csv') >= 0) {
                            $.fn.dataTable.ext.buttons.csvHtml5.available(dt, config) ?
                                $.fn.dataTable.ext.buttons.csvHtml5.action.call(self, e, dt, button, config) :
                                $.fn.dataTable.ext.buttons.csvFlash.action.call(self, e, dt, button, config);
                        } else if (button[0].className.indexOf('buttons-pdf') >= 0) {
                            $.fn.dataTable.ext.buttons.pdfHtml5.available(dt, config) ?
                                $.fn.dataTable.ext.buttons.pdfHtml5.action.call(self, e, dt, button, config) :
                                $.fn.dataTable.ext.buttons.pdfFlash.action.call(self, e, dt, button, config);
                        } else if (button[0].className.indexOf('buttons-print') >= 0) {
                            $.fn.dataTable.ext.buttons.print.action(e, dt, button, config);
                        }
                        dt.one('preXhr', function (e, s, data) {
                            // DataTables thinks the first item displayed is index 0, but we're not drawing that.
                            // Set the property to what it was before exporting.
                            settings._iDisplayStart = oldStart;
                            data.start = oldStart;
                        });
                        // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
                        setTimeout(dt.ajax.reload, 0);
                        // Prevent rendering of the full data to the DOM
                        return false;
                    });
                });
                // Requery the server with the new one-time export settings
                dt.ajax.reload();
            };



        });
    });
</script>



{% endblock %}